.movieItem {
    display: flex;
    margin: 2px;
    border: 3px solid silver;
    border-radius: 5px;
    text-decoration: none;
}

.movieItemRadius {
    display: flex;

}

.movieItemRadius img {
    width: 250px;
}

.movieItemDetails {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

}

.movieItemDetails h2, p, span {

    font-family: Verdana;

}

.movieItemDetails span {
    margin-top: 10px;

}

.movieItemDetails h2 {
    margin-bottom: 20px;
}
