.listBox {
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.pageClicker{
    display: flex;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
