body{
    margin: 0;
}
.globalWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
    padding: 20px;
    position: relative;
    overflow-y: auto ;
}
header,footer{
    padding: 10px 20px;
    background-color: silver;
}
/*header{*/
/*    background-color: indigo;*/
/*}*/
/*footer{*/
/*    background-color: red;*/
/*}*/
/*main{*/
/*    background-color: silver;*/
/*}*/
